{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row text-center">
      <div class="col-lg-8 offset-lg-2 mt-5">
          <h1>{% trans "Log In" %}</h1>
          <p>{% blocktrans %}Welcome back to Barks in Bubbles! 
            To make a booking please log in. If you have not created an account yet, 
            <a href="{{ signup_url }}">Sign up</a> first. {% endblocktrans %} </p>
      </div>
  </div>
  <div class="row text-center">
      <div class="col-lg-6 offset-lg-3 my-3">
          <form class="login" method="POST" action="{% url 'account_login' %}"> 
            {% csrf_token %} 
            {{ form.as_p }} 
            {% if redirect_field_value %} 
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"> 
            {% endif %}
              <button class="primaryAction my-3 and Sign In pages" type="submit">{% trans "Log In" %}</button>
          </form>
      </div>
  </div>
</div>
<p class="text-center password-reset">{% blocktrans %}*Please contact us at info@barksinbubbles.ie if you need to reset your password.{% endblocktrans %}</p>
{% endblock content %}
