{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->

<!-- Above Fold Section -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="my-4 text-center">Barks in Bubbles: Dog Grooming Salon</h1>
            <h5 class="my-4 text-center">{{ about.welcome_message }}</h5>
            <div class="d-flex flex-column align-items-center">
                <a href="{% url 'appointment' %}" class="btn btn-book mt-3 w-45 mb-4">Book Now</a>
            </div>
            <div class="heroimage-container">
                <img src="{{ about.image.url }}" class="hero-img" alt="Welcome Image">
            </div>

            <!-- About Us -->
            <section id="about">
                <h2 class="my-4 text-center">{{ about.title }}</h2>
                <p class="about-us mx-1 mx-sm-2 mx-md-3 mx-lg-5 text-center">
                    {{ about.content | safe }}</p>
            </section>
        </div>
    </div>
</div>

<!-- Service List -->
<section id="services">
    <h2 class="text-center">~Services~</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row ms-sm-1 mx-md-3 mx-lg-5"> 
                    {% for service in services_list %} 
                    <div class="col-12 col-lg-6 mb-4">
                        <div class="card mx-sm-1 mx-md-2 mx-lg-3">
                            <div class="card-body">
                                <h2 class="card-title">{{ service.name }}</h2>
                                <div class="image-container">
                                    <img src="{{ service.service_image.url }}" 
                                    class="service-img" loading="lazy" alt="{{ service.name }}">
                                </div>
                                {{ service.description | safe }}
                                <p class="mb-1"><strong>Price:</strong> {{ service.price }}</p>
                                <p class="mb-1"><strong>Duration:</strong> {{ service.duration_in_hours_minutes }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                 </div>
            </div>
        </div>
    </div>
</section>
<div class="d-flex flex-column align-items-center">
    <a href="{% url 'appointment' %}" class="btn btn-book mt-3 w-45 mb-4">Book Now</a>
</div>
<!-- index.html content ends here -->
{% endblock %}
