/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;600&family=Khula:wght@400;600&family=Righteous&display=swap");


/* Basic styles */
body {
    background-color: #ffff;
}


/* H1 style */
h1 {
    font-family: "Righteous", sans-serif !important;
    font-size: 150% !important;
    color: black;
}

/* H2-4 styles */
h2,
h3,
h4
 {
    font-family: "Cormorant Upright", sans-serif !important;
    font-size: 210% !important;
    color: #272D2D;
}

/* H5-6 styles */
h5,
h6
 {
    font-family: "Cormorant Upright", sans-serif !important;
    font-size: 160% !important;
    color: #272D2D;

 }

/* Paragraph style */
p {
    font-family: "Khula", sans-serif !important;
    font-size: 120% !important;
    padding: 5px;
    color: #50514F;
    
}

/* Ensure anchor links adjust for the header height */
html {
    scroll-padding-top: 250px !important;
}

/* Add header bottom border */
header {
    border-bottom: 1px solid grey;
}

/* Style navbar text */
.nav-link {
    color: #50514F !important;
    font-size: 17px;
    font-family: "Righteous", sans-serif !important;
}

.nav-link.active {
    color: #ff5cb7 !important;
    text-decoration: underline !important;
}

/* Ensure logo is always in the center of the header 
   Source: https://www.shecodes.io/athena/121718-how-
   to-use-transform-translate-50-50-to-center-an-element-in-css */
.logo-container {
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.btn-book {
    background-color: #14cfdb;
    border: 2px solid #14cfdb;
    color: #3f3850;
    font-weight: 400;
}

/* Style login button */
.btn-login {
    background-color: #3f3850 !important;
    color: #14cfdb;
}

.btn-login:hover {
    background-color: #14cfdb !important;
    color: #3f3850 !important;
    border: none;
}

.btn-login:active {
    border: 2px solid #3f3850 !important;
}

.btn-login:visited {
    color: #14cfdb;
    border: 2px solid #3f3850 !important;
}

/* Style book anf my apoointments buttons */
.btn-book, .btn-appointments {
    background-color: #14cfdb !important;
    color: #3f3850;
    border: none;
}

.btn-book:hover, .btn-appointments:hover {
    background-color: #3f3850 !important;
    color: #14cfdb !important;
    border: none;
}

.btn-book:active, .btn-appointments:active {
    border: 2px solid #14cfdb !important;
}

.btn-book:visited, .btn-appointments:visited {
    color: #3f3850;
}

/* Style Logout button */
.btn-logout {
    background-color: #ff5cb7 !important;
    color: #3f3850;
}

.btn-logout:hover {
    background-color: #3f3850 !important;
    color: #ff5cb7 !important;
    border: #3f3850;
}

.btn-logout:active {
    border: 2px solid #ff5cb7 !important;
}

.btn-logout:visited {
    color: #3f3850;
    border: 2px solid #ff5cb7 !important;
}

/* Style authentication messages */
.auth {
    color: #fe8b32 !important;
}

/* Style Django messages */
.d-messages {
    background-color: #FFD1AE;
}

/* Style Hero Image */
.hero-img {
    width: 95%;
}

/* Style Services titles */
h2.card-title
 {
    font-size: 180% !important;
    text-align: center;
}

/* Style paragraphs on Home and Groomers pages */
.about-us .about-groomers {
    line-height: 1.8; 
    text-align: justify;
}

/* Style pagination bar */
.pagination .page-item.active .page-link {
    background-color: #ff5cb7;
    border-color: #50514F;
}

.pagination .page-item .page-link {
    background-color: #FFEBF6;
    border-color: #50514F;
}

/* Add footer top border */
footer {
    border-top: 1px solid grey;
}

/* Style Sign Up form */
.signup ul {
    text-align: left;
    margin-bottom: 0px;
}

.signup p {
    margin-bottom: 16px;
    padding: 5px;
}

.signup label {
    width: 160px;
}

/* Style Log In and Edit buttons */
.primaryAction {
    background-color: #5ecc5c;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    color: #ffffff;
    border: none;
}

.primaryAction:hover {
    color: #3f3850;
    border: none;
}

.primaryAction:active {
    border: 2px solid #3f3850;
}

/* Style Log Out button, My appointments Delete button  */
.sign-out, .btn-delete {
    background-color: #fe8b32 !important;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    color: #ffffff;
    border: none;
}

.sign-out:hover, .btn-delete:hover {
    color: #3f3850;
    border: none;
}

.sign-out:active, .btn-delete:active {
    border: 2px solid #3f3850;
}



/* Style Contact page submit button, Booking page Book Appointment button, My Appointments Edit button */
.btn-contact, .btn-appointment, .btn-edit {
    background-color: #5ecc5c;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    color: #ffffff;
    border: none;
}

.btn-contact:hover, .btn-appointment:hover, .btn-edit:hover {
    background-color: #5ecc5c !important;
    color: #3f3850;
    border: none;
}

.btn-contact:active, .btn-appointment:active, .btn-edit:active {
    background-color: #5ecc5c !important;
    border: 2px solid #3f3850;
}

.btn-appointment {
    width: 180px;
}

/* Media query: mobile phones (320px and up) */
@media screen and (min-width: 320px) {
    html {
        scroll-padding-top: 260px;
    }

    /* H1 style */
    h1 {
        font-family: "Righteous", sans-serif !important;
        font-size: 180% !important;
    }

    /* H2-4 styles */
    h2,
    h3,
    h4
    {
    font-family: "Cormorant Upright", sans-serif !important;
    font-size: 250% !important;
    }

    /* Table font size */
    table {
        font-size: 12px !important;
    }
}

/* Media query: tablets and larger screens (576px and up) */
@media screen and (min-width: 576px) {
    html {
        scroll-padding-top: 150px;
    }
    /* Table font size */
    table {
        font-size: 16px !important;
    }
}

/* Media query: larger devices (laptops & desktops, 992px and up) */
@media screen and (min-width: 992px) {
    html {
        scroll-padding-top: 145px;
    }

    /* Table font size */
    table {
        font-size: 18px !important;
    }
}
    