/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;600&family=Khula:wght@400;600&family=Righteous&display=swap");


/* Basic styles */
body {
    background-color: #ffff;
}


/* H1 style */
h1 {
    font-family: "Righteous", sans-serif !important;
    font-size: 250% !important;
}

/* H2-4 styles */
h2,
h3,
h4
 {
    font-family: "Cormorant Upright", sans-serif !important;
    font-size: 350% !important;
}

/* H5-6 styles */
h5,
h6
 {
    font-family: "Cormorant Upright", sans-serif !important;
    font-size: 170% !important;

 }

/* Paragraph style */
p {
    font-family: "Khula", sans-serif !important;
    font-size: 120% !important;
    padding: 5px;
    
}


/* Ensure anchor links adjust for the header height */
html {
    scroll-padding-top: 50px;
}

/* Add header bottom border */
header {
    border-bottom: 1px solid grey;
}

/* Ensure logo is always in the center of the header 
   Source: https://www.shecodes.io/athena/121718-how-
   to-use-transform-translate-50-50-to-center-an-element-in-css */
.logo-container {
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

/* Style Services titles */
h2.card-title
 {
    font-size: 250% !important;
    text-align: center;
}

/* Style paragraphs on Home and Groomers pages */
.about-us .about-groomers {
    line-height: 1.8; 
    text-align: justify;
}

/* Style pagination bar */
.pagination .page-link {
    color: darkgrey;
}

.pagination .page-item.active .page-link {
    background-color: darkgrey;
    border-color: darkgrey;
}

.pagination .page-link:hover {
    color: #555;
}

/* Add footer top border */
footer {
    border-top: 1px solid grey;
}

/* Media query: mobile phones (370px and up) */
@media screen and (min-width: 370px) {
    html {
        scroll-padding-top: 260px;
    }

    /* H1 style */
h1 {
    font-family: "Righteous", sans-serif !important;
    font-size: 180% !important;
}

/* H2-4 styles */
h2,
h3,
h4
 {
    font-family: "Cormorant Upright", sans-serif !important;
    font-size: 250% !important;
}

}

/* Media query: tablets and larger screens (576px and up) */
@media screen and (min-width: 576px) {
    html {
        scroll-padding-top: 150px;
    }
}

/* Media query: larger devices (laptops & desktops, 992px and up) */
@media screen and (min-width: 992px) {
    html {
        scroll-padding-top: 145px;
    }
}
    
